<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.api.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.it.api.entity.SysLog">
    <!--@mbg.generated-->
    <!--@Table sys_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="BIGINT" property="createDate" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_date, ip, `method`, `module`, nickname, `operation`, params, `time`, userid
  </sql>
</mapper>